artifacts
cache
coverage
coverage.json
node_modules
package-lock.json
temp
.DS_Store
.env
archived
.vscode
diamondCut-*.json

#Editors
.idea/

# Foundry
cache/
out/
coverage_data/
protocol/remappings.txt
.gas-snapshot

# From SDK Monorepo Join:
node_modules
.pnp.*
.yarn/*
.yarn/install-state.gz
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.DS_Store