artifacts
cache
coverage
coverage.json
node_modules
package-lock.json
temp
.DS_Store
.env
archived
.vscode

# Diamond Cut Outputs
diamondCut-*.json

#Open Zeppelin Local Config
.openzeppelin/unknown-1337.json

#Editors
.idea/

# Foundry
cache/
out/
coverage_data/
.openzeppelin
protocol/lib/prb-math
protocol/remappings.txt
.gas-snapshot

# From SDK Monorepo Join:
node_modules
.pnp.*
.yarn/*
.yarn/install-state.gz
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.DS_Store
# Local Netlify folder
.netlify
