{
  "printWidth": 100,
  "singleQuote": false,
  "semi": true,
  "trailingComma": "none",
  "overrides": [
    {
      "files": "projects/subgraph-*/**",
      "options": {
        "printWidth": 140
      }
    }
  ]
}
