<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beanstalk App</title>
    <meta charset="utf-8" />
    <meta
      name="description"
      content="The Beanstalk App allows you to Sow, Silo and Trade Beans. You can also exchange Pods, participate in Governance, view your Balances, BeaNFTs and learn more about the protocol. Connect your Metamask wallet to get started."
    />
    <% if (process.env.NODE_ENV === 'production' || process.env.ENABLE_CSP) { %>
      <meta http-equiv="Content-Security-Policy" content="<%- csp %>" />
    <% } %>
    <% if (process.env.NODE_ENV === 'production') { %>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KGLM87W');</script>
    <% } %>
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="manifest" href="/manifest.json" />
    <script type="module">
      import process from 'process';
      import { Buffer } from 'buffer';
      import EventEmitter from 'events';

      window.global = window;
      window.process = process;
      window.Buffer = Buffer;
      window.EventEmitter = EventEmitter;
    </script>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGLM87W" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div id="app"></div>
    <script type="module" src="/src/index.tsx"></script>
  </body>
</html>
