<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- HTML Meta Tags -->
    <title>Beanstalk App</title>
    <meta charset="utf-8" />
    <meta name="description" content="The Beanstalk App allows you to Sow, Silo and Trade Beans. You can also exchange Pods, participate in Governance, view your Balances, BeaNFTs and learn more about the protocol. Connect your Metamask wallet to get started."/>
    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Beanstalk App">
    <meta itemprop="description" content="The Beanstalk App allows you to Sow, Silo and Trade Beans. You can also exchange Pods, participate in Governance, view your Balances, BeaNFTs and learn more about the protocol. Connect your Metamask wallet to get started.">
    <meta itemprop="image" content="https://app.bean.money/public/assets/meta/meta-spring.png">
    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://app.bean.money">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Beanstalk App">
    <meta property="og:description" content="The Beanstalk App allows you to Sow, Silo and Trade Beans. You can also exchange Pods, participate in Governance, view your Balances, BeaNFTs and learn more about the protocol. Connect your Metamask wallet to get started.">
    <meta property="og:image" content="http://app.bean.money/public/assets/meta/meta-spring.png">
    <meta property="og:image:secure_url" content="https://app.bean.money/public/assets/meta/meta-spring.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1920"/>
    <meta property="og:image:height" content="1080"/>
    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Beanstalk App">
    <meta name="twitter:description" content="The Beanstalk App allows you to Sow, Silo and Trade Beans. You can also exchange Pods, participate in Governance, view your Balances, BeaNFTs and learn more about the protocol. Connect your Metamask wallet to get started.">
    <meta name="twitter:image" content="https://app.bean.money/public/assets/meta/meta-spring.png">
    <meta name="twitter:image:alt" content="Beanstalk logo.">
    <meta name="twitter:site" content="@BeanstalkFarms">
    <%- csp %>
    <% if (process.env.NODE_ENV === 'production') { %>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KGLM87W');</script>
    <% } %>
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <link rel="apple-touch-icon" href="/logo192.png" />
    <link rel="manifest" href="/manifest.json" />
    <script type="module">
      import process from 'process';
      import { Buffer } from 'buffer';
      import EventEmitter from 'events';

      window.global = window;
      window.process = process;
      window.Buffer = Buffer;
      window.EventEmitter = EventEmitter;
    </script>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KGLM87W" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <div id="app"></div>
    <script type="module" src="/src/index.tsx"></script>
  </body>
</html>
