@font-face {
  font-family: "Inter";
  src: url("src/assets/fonts/Inter.ttf");
}

html,
body {
  height: 100%;
  background-color: #101321;
  color: #c7c8cb;
}

body {
  position: relative;
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /** Prevent page overscrolling: https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior */
  overscroll-behavior: none;
}
input,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  border: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}
:focus {
  outline: 2px solid #9dcae6;
  box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #494c58 #272a37;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #272a37;
}

*::-webkit-scrollbar-thumb {
  background-color: #494c58;
  border-radius: 10px;
  border: 0px none #000000;
}
