@font-face {
  font-family: "Inter";
  src: url("src/assets/fonts/Inter.ttf");
}

html,
body {
  height: 100%;
  background-color: var(--background);
  color: var(--primary);
  overflow: hidden;
  line-height: 24px;
}

body {
  position: relative;
  margin: 0;
  font-family: "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /** Prevent page overscrolling: https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior */
  overscroll-behavior: none;
}

/* Remove the arrows on input type=number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  border: none;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
:focus {
  outline: 1px solid #46b955;
  box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #494c58 #272a37;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #eee;
}

*::-webkit-scrollbar-thumb {
  background-color: #aaa;
}
